
#news{
    height: 150px;
    padding-bottom: 5px;
}
#news .box{
    width: 570px;
    height: 140px;
    float: left;
}
#news #title1,#news #title2{
    height: 30px;
    margin-bottom: 5px;
}
#news #title1 h3,#news #title2 h3{
    width:100px;
    float: left;
}
#news #title1 a,#news #title2 a{
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    border-radius: 5px;
}
#news #title1 a:hover,#news #title2 a:hover{
    background: #ffff00;
    color:#fff;
}
#news #table1{
    height: 100px;
    width: 100%;
}
#news #table1 li{
    padding-left: 3px;
    list-style: circle;
    height: 30px;
    width: 230px;
    float: left;
    margin-left: 40px;
}
#news #table1 a{
    font-size: xx-small;
    width: 100%;
    height: 100%;
}
#news #table1 a:hover{
    color:deepskyblue;
}
#news #table2 ul{
    border: 1px dashed;
    margin: 10px auto;
    width: 80%;
    height:95%;
}
#news #table2 li{
    width: 80%;
    margin: 3px auto;
    padding-left: 3px;
    list-style: circle;
    text-align: center;
}
#news #table2 a{
    font-size: small;
}
/*************************/
#point{
    height: 500px;
    background: #ccc;
    overflow: hidden;
}
#point h2,#point h4{
    text-align: center;
    margin: 50px;
}
#point img{
    width: 20%;
}
#point span{
    width: 20%;
    display:inline-block;
    text-align: center;
    margin-bottom: 20px;
}
#point span:hover{
    color:deepskyblue;
    font-size: larger;
}
#point a{
    margin-left: 530px;
    border-radius: 5px;
}
#point a:hover{
    color:#fff;
    background: #93c47d;
}
/*****************************/
#known{
    height:330px;
    background: #93c47d;
}
#known span{
    display:inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align:center;
    margin: 20px 0;
}
#known #sp1{
    background: #fff;
    color: #666;
    position: relative;
    left:470px;
}
#known #sp2{
    background: #F1C232;
    color: #ffffff;
    position:relative;
    left:470px;
}
#known h2,#known h3,#known p{
    color:white;
    text-align: center;
    width: 550px;
    margin: 20px auto;
}
#known hr{
    border-color: #ffffff;
    width: 550px;
    margin: 0 auto;
}
#known #know-us{
    color:white;
    border:1px solid white;
    border-radius: 5px;
    margin: 0 auto;
    display:block;
    width: 80px;
}
#known #know-us:hover{
    border-color:black;
    color:black;
    background: #ffffff;
}
/***********************/
#pro{
    height: 373px;
    background: #fee157;
}
#pro #problem{
    width: 700px;
    height:350px;
    float: left;
    position: relative;
}
#pro #register{
    float: right;
    width: 350px;
}
#pro h2{
    width: 200px;
    margin: 15px 0;
}
#pro #more{
    position:absolute;
    right:30px;
    top:20px;
    border-radius: 5px;
}
#pro #more:hover{
    background: #ffffff;
}
#pro #nav{
    margin-top: 45px;
    width: 676px;
    height: 210px;
    border:1px dashed #657574;
}
#pro #nav li{
    padding-left: 5px;
    list-style: circle;
    margin-left: 60px;
    margin-bottom: 10px;
    padding-top: 10px;
}
#pro #nav hr{
    border-bottom:1px dashed #657574;
    border-top:none;
    width: 600px;
    margin: 0 auto;
}
#register{
    height: 350px;
    width: 350px;
}
#register h2{
    text-align: center;
    width: 100%;
}
#register #info{
    height: 300px;
    width: 350px;
    border:1px dashed #657574;
}
#register #info p{
    width:23%;
    margin: 10px auto;
    text-align: center;
}
#register #info .star{
    color:red;
    margin-top: -4px;
    float: right;
}
#register #info .long{
    display:block;
    width: 80%;
    margin: 0 auto;
    height:28px;
    font-size: 20px;
    text-indent:10px;
}
#register #info #short{
    height: 20px;
    width: 100px;
    margin-right: 15px;
    text-indent: 10px;
}
#register #captcha{
    margin-left: 34px;
   position: relative;
    top: 5px;
    margin-right: 5px;
}
#register #star{
    position: relative;
    color: #f00;
    top:-4px;
    left:-5px;
}
#register #info img{
    position: relative;
    top: 10px;
}
#register #info div{
    height: 40px;
}
#register  #info .btn{
    width: 100px;
    height: 25px;
    background: #666;
    color: #fff;
    border:0;
}
#register #info input[type=submit]{
    margin-left: 65px;
    margin-right: 10px;
}
/*****************************/
